<div id="signup">
	<h1>Sign Up for Free</h1>
	<form [formGroup]="formModel" (submit)="onSubmit(formModel.value)">
		<div class="top-row">
			<div class="field-wrap">
				<label>
					First Name<span class="req">*</span>
				</label>
				<input type="text" formControlName="firstName" inputWraperState>
			</div>
			<div class="field-wrap">
				<label>
					Last Name<span class="req">*</span>
				</label>
				<input type="text" formControlName="lastName" inputWraperState>
			</div>
		</div>
		<div class="field-wrap">
			<label>
				Email Address<span class="req">*</span>
			</label>
			<input type="email" formControlName="email" inputWraperState emailValidator>
		</div>
		<div class="field-wrap">
			<label>
				Set A Password<span class="req">*</span>
			</label>
			<input type="password" formControlName="password" inputWraperState passwordValidator>
		</div>
		<button type="submit" class="button button-block" [disabled]="!formModel.valid">Get Started</button>
	</form>
</div>
