<div id="login">
	<h1>Welcome Back!</h1>
	<form [formGroup]="formModel" (submit)="onSubmit(formModel.value)">
		<div class="field-wrap">
			<label>
				Email Address<span class="req">*</span>
			</label>
			<input type="email" formControlName="email" required inputWraperState emailValidator>
		</div>
		<div class="field-wrap">
			<label>
				Password<span class="req">*</span>
			</label>
			<input type="password" formControlName="password" required inputWraperState passwordValidator>
		</div>
		<!-- <p class="forgot"><a href="#">Forgot Password?</a></p> -->
		<button class="button button-block" [disabled]="!formModel.valid">Log In</button>
	</form>
</div>
